
@{
    ViewData["Title"] = "About";
}

<!DOCTYPE html>
<html lang="pt-BR">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre</title>
    <style>
        figure {
            max-width: 100%;
            margin: 0 auto;
            text-align: center; 
        }

        img {
            width: 100%;
            height: auto;
        }

        figcaption {
            margin-top: 8px;
            font-size: 14px;
        }

        p {
            text-align: justify;
        }
    </style>
</head>
<body>
    <div>
        <h3>Desafio mais marcante</h3>
        <p>
            <a href="https://sol.sbc.org.br/index.php/wcama/article/view/29419" target="_blank">
                Acessar artigo completo
            </a>
        </p>
        <p><strong>Tecnologias usadas:</strong></p>
        <ul>
            <li>Python</li>
            <li>Modelos de Machine Learning e de segmentação</li>
            <li>Visão computacional</li>
            <li>Makesense</li>
        </ul>

        <p><strong>Arquitetura:</strong></p>
        <p>
            O desenvolvimento do trabalho foi realizado utilizando o Google Colab e Google Cloud, com scripts escritos em Python. A abordagem adotada inclui tanto a orientação a objetos quanto o paradigma procedural, dependendo das necessidades específicas de cada etapa do processo.
        </p>

        <p><strong>O desafio:</strong></p>

        <p>
            O desafio de programação mais marcante que enfrentei foi o desenvolvimento do meu Trabalho de Conclusão de Curso (TCC), inspirado no agronegócio, 
            que representou 24% do PIB brasileiro em 2023. A problemática identificada foi que a pesagem convencional, realizada em balanças industriais de
            alto custo, gera estresse tanto para os animais quanto para os trabalhadores, impactando negativamente na qualidade da carne. Nesse contexto,
            propus a utilização de aprendizado de máquina com otimização de hiperparâmetros e segmentação de imagens de bovinos de corte para extrair
            características geométricas, como altura e largura, a fim de realizar a predição de peso.
        </p>
        <p>
            Este trabalho foi especialmente significativo para mim por ser uma tarefa complexa e desafiadora, que me levou a explorar profundamente a área de
            inteligência artificial, algo em que eu tinha pouca experiência até então. Antes desse projeto, havia cursado apenas duas disciplinas relacionadas
            ao tema: Ciência de Dados e Redes Neurais. Apesar de ter enfrentado desafios nesses cursos, nada se comparava ao esforço necessário para propor e
            criar algo novo, além de buscar resultados comparáveis a outras pesquisas na área.
        </p>
        <p>
            Este projeto transformou minha maneira de pensar e despertou uma curiosidade intensa em aprender coisas novas. A experiência de realizar leituras 
            de artigos científicos, buscar soluções em prazos curtos, trabalhar em equipe com diferentes níveis de conhecimento, e trocar informações foi extremamente
            enriquecedora para a minha formação. Aprendi que, por mais complexo que um desafio possa parecer, é possível encontrar soluções quando se está disposto 
            a se dedicar e buscar o conhecimento necessário.
        </p>

        <figure>
            <img src="https://i.ibb.co/hRtbsSh/grid.jpg" alt="grid" border="0">
            <figcaption><strong>Figura 1</strong>: Esboço do processo</figcaption>
        </figure>

    </div>
</body>
</html>
